body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-content {
    display: flex;
    align-items: center;
    background-color: #0a417ceb;
    color: #fff;
    padding: 20px;
}

.professor-image img {
    max-width: 120px;
    border-radius: 50%;
    margin-right: 20px;
}

.header-text {
    flex-grow: 1;
    text-align: center;
}

.header-text h1 {
    font-size: 24px;
    margin: 0;
}

nav ul {
    list-style: none;
}

.menu-item {
    display: inline-block;
    margin-right: 20px;
    padding: 10px 20px;
    background-color: #007bff93;
    border-radius: 5px;
}

.menu-item a {
    text-decoration: none;
    color: #fff;
}

main {
    flex-grow: 1;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
}

#coursesTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#coursesTable th,
#coursesTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#coursesTable th {
    background-color: #f2f2f2;
}

#coursesTable tbody tr:hover {
    background-color: #f5f5f5;
}

.dataTables_paginate {
    text-align: center;
}

.dataTables_length,
.dataTables_filter {
    margin-bottom: 10px;
}

.social-icons {
    margin-bottom: 10px;
    text-align: center;
}

.social-icons a {
    color: #fff;
    font-size: 20px;
    margin: 0 10px;
    text-decoration: none;
}

.stretch-to-bottom {
    flex-grow: 1;
}

section {
    margin-bottom: 20px;
}

footer {
    padding: 10px 0;
    text-align: center;
    background-color: #0a417ceb;
    color: #fff;
}

.accordion-button {
    background-color: #f1f1f1;
    color: #333;
    cursor: pointer;
    padding: 12px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: background-color 0.3s;
}

.accordion-panel {
    padding: 12px;
    display: none;
    background-color: white;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }
    .professor-image img {
        max-width: 80px;
        margin-right: 0;
        margin-bottom: 10px;
    }
    .header-content {
        flex-direction: column;
        text-align: center;
    }
    .header-text {
        text-align: center;
    }
    .menu-item {
        display: block;
        margin: 0 auto;
        padding: 10px;
        margin-bottom: 10px;
    }
    main {
        width: 90%;
    }
    #coursesTable th,
    #coursesTable td {
        padding: 5px;
    }
    .social-icons {
        text-align: center;
    }
    .social-icons a {
        font-size: 24px;
        margin: 0 15px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .header-content {
        padding: 10px;
    }
    .menu-item {
        margin-right: 10px;
    }
}

@media screen and (min-width: 1025px) {
    .header-content {
        padding: 20px;
    }
    .menu-item {
        margin-right: 20px;
    }
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #05154b; 
    padding: 30px;
    width: 400px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px; 
    font-family: 'Georgia', serif; 
    color: #fff; 
    text-align: center;
    z-index: 1000;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.email {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
}

.subscribe-button {
    background-color: #007bff; 
    color: #fff; 
    border: none;
    border-radius: 20px; 
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.contact-list {
    list-style: none;
    padding: 0;
    font-family: Arial, sans-serif;
}

.contact-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #010204;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contact-title {
    font-size: 24px;
    font-weight: bold;
    color: #010103;
    margin-bottom: 10px;
}

.contact-details {
    font-size: 16px;
    color: #333;
}

.office-address {
    font-style: italic;
}

.calendar-container {
    position: relative;
    padding-bottom: 75%; 
    height: 0;
    overflow: hidden;
  }
  
  .calendar-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #photo-gallery {
    text-align: center;
}

.mini-gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mini-gallery-image {
    max-width: 100px; 
    margin: 10px; 
    cursor: pointer; 
    transition: transform 0.2s; 
}

.mini-gallery-image:hover {
    transform: scale(1.2); 
}
  